* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.page {
  background: linear-gradient(120deg, rgb(255, 193, 193), rgb(255, 123, 169), rgb(173, 102, 255));
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  padding: 3vmin;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  margin: 1vmin 7vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 30%;
  margin: 1vmin;
  border: 1vmin solid white;
}